body {
  margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    color: #101828 !important;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow-x: clip;
}

code {
  font-family: "Inter", sans-serif;
  color: #101828 !important;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
